<div class="row">
  <div class="col-3">
    <div class="card sticky-top">
      <div class="list-group list-group-flush">
        <a
          routerLink="/"
          class="list-group-item list-group-item-action"
          [class.active]="!selectedCategory"
        >
          All Categories
        </a>
        <a
          *ngFor="let category of categories"
          routerLink="/"
          [queryParams]="{ category: category.key }"
          class="list-group-item list-group-item-action"
          [class.active]="category.key === selectedCategory"
        >
          {{ category.name }}
        </a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <ng-container *ngFor="let product of filteredProducts; let i = index">
        <div class="col pb-5">
          <div class="card" style="height: 320px">
            <img [src]="product.imageUrl" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{ product.title }}</h5>
              <p class="card-text">
                {{ product.price | currency: "USD":"symbol" }}
              </p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary btn-block">Add to Cart</a>
            </div>
          </div>
        </div>
        <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
      </ng-container>
    </div>
  </div>
</div>
