<div class="row">
  <div class="col-3">
    <div class="card sticky-top">
      <div class="list-group list-group-flush">
        <a
          routerLink="/"
          class="list-group-item list-group-item-action"
          [class.active]="!selectedCategory"
        >
          All Categories
        </a>
        <a
          *ngFor="let category of categories"
          routerLink="/"
          [queryParams]="{ category: category.key }"
          class="list-group-item list-group-item-action"
          [class.active]="category.key === selectedCategory"
        >
          {{ category.name }}
        </a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <ng-container *ngFor="let product of filteredProducts; let i = index">
        <div class="col pb-5">
          <div class="card" style="height: 320px">
            <img [src]="product.imageUrl" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{ product.title }}</h5>
              <p class="card-text">
                {{ product.price | currency: "USD":"symbol" }}
              </p>
            </div>
            <div class="card-footer">
              <button
                *ngIf="getProductQuantity(product.key) === 0"
                (click)="addToCart(product)"
                class="btn btn-secondary btn-block"
              >
                Add to Cart
              </button>
              <div
                *ngIf="getProductQuantity(product.key) > 0"
                class="input-group"
              >
                <div class="input-group-prepend">
                  <button
                    (click)="removeFromCart(product)"
                    class="btn btn-secondary btn-block"
                  >
                    -
                  </button>
                </div>
                <input
                  type="text"
                  class="form-control"
                  style="text-align: center; background-color: white"
                  [value]="getProductQuantity(product.key) + ' in cart'"
                  disabled
                />
                <div class="input-group-append">
                  <button
                    (click)="addToCart(product)"
                    class="btn btn-secondary btn-block"
                  >
                    +
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
      </ng-container>
    </div>
  </div>
</div>
