<h2>Shopping Cart</h2>
<p>You have {{ itemCount }} items in your shopping cart.</p>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Product</th>
      <th class="text-center">Quantity</th>
      <th class="text-right">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of shoppingCartItems">
      <td>
        <img
          class="product-image"
          [src]="item.product.imageUrl"
          alt="Product Image"
        />
      </td>
      <td>{{ item.product.title }}</td>
      <td class="text-center">
        <div *ngIf="item.quantity > 0" class="input-group">
          <div class="input-group-prepend">
            <button
              (click)="removeFromCart(item.product)"
              class="btn btn-secondary btn-block"
            >
              -
            </button>
          </div>
          <input
            type="text"
            class="form-control"
            style="text-align: center; background-color: white; width: 20px"
            [value]="item.quantity + ' in cart'"
            disabled
          />
          <div class="input-group-append">
            <button
              (click)="addToCart(item.product)"
              class="btn btn-secondary btn-block"
            >
              +
            </button>
          </div>
        </div>
      </td>
      <td class="text-right">
        {{ item.product.price * item.quantity | currency: "USD":"symbol" }}
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th class="text-center"></th>
      <th class="text-right">{{ itemTotal | currency: "USD":"symbol" }}</th>
    </tr>
  </tfoot>
</table>

<button (click)="clearCart()" class="btn btn-danger">
  Clear Shopping Cart
</button>
