<p>
  <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>
<p>
  <input
    #query
    (keyup)="filter(query.value)"
    type="text"
    class="form-control"
    placeholder="Search..."
  />
</p>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of pagedProducts">
      <td>{{ p.title }}</td>
      <td>{{ p.price }}</td>
      <td><a [routerLink]="['/admin/products/', p.key]">Edit</a></td>
    </tr>
  </tbody>
</table>

<form>
  <div class="row">
    <div class="col-3">
      <span
        >Results: {{ startIndex + 1 }} - {{ endIndex + 1 }} /
        {{ itemCount }}
      </span>
    </div>
    <div class="col-2">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Limit:</span>
        </div>
        <select
          #itemLimit="ngModel"
          [(ngModel)]="itemsPerPage"
          (change)="paginate()"
          name="itemLimit"
          class="form-control"
        >
          <option>5</option>
          <option>10</option>
          <option>25</option>
          <option>50</option>
        </select>
      </div>
    </div>
    <div class="col-2">
      <button (click)="firstPage()" class="btn btn-light">{{ "<<" }}</button>
      <button (click)="previousPage()" class="btn btn-light">{{ "<" }}</button>
    </div>
    <div class="col-3">
      <div class="input-group">
        <input
          #page
          [(ngModel)]="currentPage"
          (change)="paginate()"
          name="page"
          type="number"
          class="form-control"
          min="1"
          [max]="pageCount"
        />
        <div class="input-group-append">
          <span class="input-group-text">/{{ pageCount }}</span>
        </div>
      </div>
    </div>
    <div class="col-2">
      <button (click)="nextPage()" class="btn btn-light">{{ ">" }}</button>
      <button (click)="lastPage()" class="btn btn-light">{{ ">>" }}</button>
    </div>
  </div>
</form>
